@use './abstracts/colors' as c;
@use './abstracts/fonts' as f;
@use './components/header';
@use './components/room_user';
@use './components/messages';
@use './components/send';

*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: f.$roboto;
}
  
#container_chat{
  color: white;
  height: 100vh;
  background-color: #b7f4ed;
  main{
    height: 75vh;
    width: 75vw;
    overflow: hidden;
    display: grid;
    grid-template-areas:
    "title title"
    "menu message"
    "chat chat";
    grid-template-columns: 1fr 3fr;
    grid-template-rows: 10% auto 15%;

    overflow-anchor: none;
  }
}
