@use './abstracts/breakpoints' as b;
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
main{
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #0cebeb;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #29ffc6, #20e3b2, #0cebeb);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #29ffc6, #20e3b2, #0cebeb); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  #container_login{
    width: 50%;
    i{
      color: black;
      font-size: 2rem;
    }
    form{
      button{
        margin: auto;
        width: 25%;
      }
    }
  }
  @media screen and (max-width: b.$breakpoint_m) {
      #container_login{
        width: 95vw;
        height: 65vh;
        form{
          button{
            width: 75%;
          }
        }
      }
  }
}